body{
   background: -webkit-linear-gradient(pink,green,yellow);
   background-repeat: no-repeat ;
   background-color:black ;
}

header{
   background-position: bottom;
   text-align: center;
   font-size: 400%;
   border-style: outset;
   border-radius: 5%;
   background: -webkit-linear-gradient(orange,violet);
   margin-left: 500px;
   margin-right: 500px;
   
}

a:link, a:visited {
   background-color: rgb(0, 255, 76);
   color: black;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 350%;
 }
 
 a:hover, a:active {
   background-color: turquoise;
 }

 nav{
    background-position: bottom;
    text-align: center;
    border-style: inset;
    background: -webkit-linear-gradient(gray,white);
    margin-right: 200px;
    margin-left: 200px;
 }

 p1{

 }